*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #fffdfd;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #3323c7;
    padding: 20px
}
.layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto
}

.content{
    flex: 1 1 0%;
}

.sidebar {
    min-width: 500px;
    min-height: 100%;
    flex: 0 0 280px;
    background-color: #ababb1;
     border: 5px solid #000000;
    display: flex;
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 12px;
}

.sidebar ol {
  padding-left: 0.1rem; 
  margin: 0;            
  list-style-position: inside; 
  
}

.sidebar .top10 li {
  margin-left: 0.5rem;
  line-height: 1.6;
  
}



.sidebar-inner {
    justify-content: right;
    color: #824edb;
    word-spacing: 0px;
    font-weight: bold;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);


}
.container {
    max-width: 900px;
    width: 100%;
}

.image-pair {
    display: flex;;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;

}

.image-pair figure {
    flex: 1;    
    min-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-pair img {
width: 100%;
  max-width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.image-pair figcaption {
  font-size: 1.5rem;
  color: #000000;
  margin-top: 0.5rem;
  text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.8rem;
    font-weight: 700;
    color: #2c3e50;
    position: relative;
    text-transform: uppercase;
}

h1::after {
    content: "";    
    display: block;
    width: 80px;
    height: 4px;
    background: #000000d7;
    margin: 10px auto 0;
    border-radius: 2px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex-item {
border: 1px solid #ddd;
border-radius: 10px;
padding: 20px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.944);
}

.flex-item h2 {
  font-size: 1.3rem;
  color: #3577a3;                    
  margin-bottom: 10px;
  border-left: 4px solid #000000;  
  padding-left: 8px;
}

.flex-item p {
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;

    .sidebar-inner {
        background: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        padding: 18px;
        box-shadow: 0 6px 18px;
    }

}
.item1{
    background-color: rgb(0, 0, 0);
    
    }

    .item2{
        background-color:  rgb(10, 10, 10);
    }

    .item3{
            background-color: rgb(78, 179, 113);
    }

    .item4{
        background-color: rgb(78, 179, 113);
    }

    .item5{
        background-color: rgb(78, 179, 113);
    }

    .item6{
        background-color: rgb(78, 179, 113);
    }

